body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #191919;
}

.App {
  background-color: #191919;
}

a:hover {
  color: white;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@font-face {
  font-family: roboto;
  /* src: url(../src/fonts/Roboto-Regular.ttf); */
  src: url(../public/assets/fonts/Roboto-Regular.ttf)
}
.roboto {
  font-family: roboto;
}